.scrollable-container {
    /* max-height: 100vh; Hauteur maximale de la zone de contenu */
    overflow-y: auto; /* Activer la barre de défilement verticale uniquement lorsque nécessaire */
    /* scrollbar-width: none; */
    max-height: 100vh;
 }

 .scroll-to-bottom {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
  }
  
  .scroll-to-bottom:hover {
    background-color: #555;
  }
